.header {
	height: 100%;
	width: 100%;
}

/* .header button {
	color: rgb(93, 93, 93);
	height: 30px;
	text-decoration: none;
	padding: 5px 15px 5px 15px;
	border-width: 0px;
	border-color: transparent;
}

.header button:hover {
	color: rgb(66, 66, 66);
	height: 30px;
	text-decoration: none;
	padding: 5px 15px 5px 15px;
	border-width: 0px;
	border-color: transparent;
} */
