main {
	display: flex; /* or inline-flex */
	flex-direction: column;
	height: 100%;
	width: 100%;
}

main header {
	flex: 0 0 50px;
	background-color: rgb(223, 223, 223);
}

main content {
	flex: 1 1 auto;
	background-color: white;
}
