html,
body,
#root {
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.node-text tspan {
	font-size: 40px;
}

#activated {
	fill: lightgreen;
}

#activatedEdge {
	fill: lightgreen;
}
