:root {
	--primary: #f1f1f1;
	--secondary: #e0e0e0;
	--primary-text: #5d5d5d;
	--primary-text-hover: #2e2e2e;
	--highlighted-node-color: lightgreen;
	--run-code: green;
	--run-code-hover: rgb(0, 92, 0);
	--submit--blue: #24a0ed;
	--primary-text-disabled: #bdbdbd;
}

html,
body,
#root {
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
	font-family: Roboto, sans-serif;
}

.node-text tspan {
	font-size: 40px;
}

#activated {
	fill: var(--highlighted-node-color);
}

#activatedEdge {
	fill: var(--highlighted-node-color);
}

.splitter {
	background-color: var(--primary);
}

header {
	color: var(--primary-text);
	background-color: var(--primary);
}

header button {
	color: var(--primary-text);
	background-color: var(--primary);
	border-color: transparent;
}

header button:hover,
header a:hover {
	color: var(--primary-text-hover);
	cursor: pointer;
}

header button:disabled,
header a:disabled {
	color: var(--primary-text-disabled);
	cursor: not-allowed;
}

header svg:focus {
	outline: none;
}
/* Login Form */

form {
	background-color: var(--primary);
	border: 1px solid var(--secondary);
}

form label {
	color: var(--primary-text);
}

form input {
	background-color: white;
	border: 1px solid var(--secondary);
}

form button {
	color: var(--submit--blue);
	transition-duration: 0.4s;
	background-color: white;
	border-radius: 5px;
	border: 1px solid var(--submit--blue);
}

form button:hover {
	background-color: var(--submit--blue); /* Green */
	color: white;
}
